<h1>Welcome to Mardi Paws!</h1>
<p>Where every day is Mardi Gras for your furry friend.</p>
<p>
  <%= link_to 'View our dogs', dogs_path %> or <%= link_to 'View our parents', parents_path %>
</p>
<p><%= link_to 'About us', about_path %></p>