<div class="jumbotron">
  <h1>Welcome to Mardi Paws!</h1>
  <p>Where every day is Mardi Gras for your furry friend.</p>
  <p>
    <%= link_to 'Sign up now!', signup_path, class: "btn btn-primary btn-lg" %>
  </p>
</div>
